<h1>Sign up</h1>
<form action="/sign_up" method="POST">
  <div>
      email:
    <input type="text" name="email">
  </div>
  <div>
    password:
    <input type="text" name="password">
  </div>
  <div>
    password confirm:
    <input type="text" name="passwordconfirm">
  </div>
  <div>
    <input type="submit" value="註冊">
  </div>
</form>